# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
.eggs/

# venv
.venv/
venv/
ENV/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs/*
!logs/.gitkeep

# Local settings
*.local
*.env
